.App {
  text-align: center;
  background-color: #EDF4F2;
  min-height: 100vh;
}

.header {
  background-color: #31473A;
  color: #7C8363;
}

.form-control {
  border-radius: 0%;
  border: none;
}

.search-geo,
.search-icon{
  background: #7C8363;
  color: #31473A;
  width: 36px;
}

.search-geo {
  border-radius: 50% 0 0 50%;
}

.search-icon {
  border-radius: 0 50% 50% 0;
}

.weatherWrapper {
  margin: 100px auto;
  max-width: 580px;
  color: #31473A;
  background-color: #FFF;
  border: 1px solid #7C8363;
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(0 0 0 / 26%);
}

.weatherWrapper .row {
  height: 100px;
}

.weatherWrapper sup {
  font-size: 10px;
  top: -0.3rem;
}

.weatherWrapper .row:first-child .col:nth-child(2) sup {
  font-size: 20px;
  top: -0.8rem;
}

.weatherWrapper small {
  display: block;
  font-size: 12px;
}